.chat-main
    .main-header
        .header-left
            .current-group
                .member-list
                    = @group.name
            .member-first 
                - @user.each do |user|
                    .name-list
                        = "Member: #{user.name}"
        .header-right
            .edit-btn
                = link_to("Edit","#")
    .messages
        = render @messages
    .main-footer
        = form_for [@group, @message] do |f|
            .new-message
                .new-message__box
                    = f.text_field :content, class: 'input-text', placeholder: 'type a message'
                    .form__mask
                        = f.label :image, class: 'form__mask__image' do
                            = icon('far', 'image', class: 'icon')
                            = f.file_field :image, class: 'hyde'
                    = f.submit 'Send', class: 'submit-btn'